:root {
  --title-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --title-font-size-mob: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --main-font-color: #f1b2ce;
  --accent-font-color: #000028;
  --accent-bg-color: #ff0070;
  --main-bg-color: #000028;
  --main-font: "IBM Plex Mono", monospace, sans-serif;
  --bg-image: url(../images/cover-image-dark.png);
  --text-size: 18px;
  --main-text-color: #db00ff;
  --nav-color: #ff0070;
  --hover-affect: rgba(255, 0, 112, 0.4);
}


/*Надо исправить:
Все комментарии с пометкой "надо исправить"
В проекте не отображается фоновые изображения - ИСПРАВЛЕНО

для выбранной кнопки темы необходимо реализовать границы по макету
Для ссылок в параграфа необходимо реализовать состояние при наведении по заданию - ИСПРАВЛЕНО

В проекте следует подправить:
Одинаковые свойства в разных медиазапросах не дублируются. В каждом медиазапросе должны быть описаны только те стили, которые отличаются от другого медиазапроса. Если правило определенно для основного блока, так же нет необходимости его дублировать в медиазапросе, так как оно будет наследоваться
Горизонтальная прокрутка от 1038px до 1024px от 781px до 768px - У МЕНЯ НЕ ОТОБРАЖАЕТСЯ НИ НА ОДНОМ РАЗРЕШЕНИИ РОРИЗОНТАЛЬНАЯ ПРОКРУТКА. =( ОТСУТСТВУЕТ

Содержимое на адаптиве не должно выпадать из своих блоков, для удобной проверки добавьте правило * { outline: 1px solid цвет; } НЕ ВЫПАДАЕТ

Контент страницы должен быть центрирован, на промежуточных разрешениях контент не должно терять центрирование.
ЦЕНТРИРОВАН

В проекте есть нарушения в отображении цветовых палитр в темной и светлой теме, цветовые палитры необходимо полностью проконтролировать 
ИСПРАВЛЕНО

Например при темной теме должен отображаться элемент rec
в темной теме цвет заголовков не по макету https://disk.yandex.com/i/yaSniDAu1WlJ7g
ИСПРАВЛЕНО

Сетку проекта должна реагировать гибко на изменение кол-во контент
при добавлении карточки в блок, карточка должна добавляться
при увеличении кол-во параграфов, отступы между параграфами необходимо сохранять
НЕ ПОНИМАЮ КАК В СДЕЛАТЬ АДАПТИВНОЙ СЕТКУ В ГРИДЕ, ВО ФЛЕКСЕ -ВСЕ ЯСНО, В ГРИД-НЕТ!
grid-auto-colomns/rows не работает

В проекте есть нарушения в отображении по макету
На 1024px с высотой 768px не по макету:
https://disk.yandex.com/i/wzrJe_aA9RVP1A
https://disk.yandex.com/i/xXKftJuLMdOM6A
https://disk.yandex.com/i/IPGlP3_iMytlow
https://disk.yandex.com/i/H7HAw3z4NF5XGg
https://disk.yandex.com/i/Os8VyQ3L9Z3XpQ
На 768px с высотой 1024px не по макету:
https://disk.yandex.com/i/bP86zNcL1KRW0Q
https://disk.yandex.com/i/b8zBm3t22q0u8Q
На 375px с высотой 668px не по макету:
https://disk.yandex.com/i/kj8Dkfe58c-_Ag
Для более точного контроля отображения вёрстки можно воспользоваться плагином PerfectPixel для Chrome, можно в фигме выделить весь макет, экспортировать его картинкой и наложить на вёрстку в браузере. Плагин позволяет наложить изображение на вёрстку в браузере, тем самым можно слегкостью подправить недочёты по отображению.
ИСПРАВЛЕНО
*/
